xml/calendar.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Calendar_Entries" type="Calendar_EntriesType" />
  <xsd:complexType name="Calendar_EntriesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Calendar_Entry" type="Calendar_EntryType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Calendar_EntryType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:int" />
      <xsd:element name="calendarName" type="xsd:string" />
      <xsd:element name="title" type="xsd:string" />
      <xsd:element name="eventLocation" type="xsd:string" />
      <xsd:element name="description" type="xsd:string" />
      <xsd:element name="allDay" type="xsd:int" />
      <xsd:element name="start" type="xsd:dateTime" />
      <xsd:element name="end" type="xsd:dateTime" />
      <xsd:element name="hasAlarm" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>