xml/contacts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="contacts" type="contactsType" />
  <xsd:complexType name="contactsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="contact" type="contactType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="contactType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:int" />
      <xsd:element name="photo_id" type="xsd:string" />
      <xsd:element name="times_contacted" type="xsd:int" />
      <xsd:element name="last_time_contacted" type="xsd:string" />
      <xsd:element name="starred" type="xsd:int" />
      <xsd:element name="number" type="xsd:string" />
      <xsd:element name="display_name" type="xsd:string" />
      <xsd:element name="lastname" type="xsd:string" />
      <xsd:element name="firstname" type="xsd:string" />
      <xsd:element name="company" type="xsd:string" />
      <xsd:element name="email" type="xsd:string" />
      <xsd:element name="url" type="xsd:string" />
      <xsd:element name="address" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>